img.grails-logo {
    height: 340px;
    margin-top: -10px;
}

.form-group {
    margin-bottom: 1rem;
}

button {
    margin-top: 1rem;
}

.full-width-table {
    width: 100%;
    border-collapse: collapse;
}

.full-width-table th, .full-width-table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.full-width-table th {
    background-color: #f4f4f4;
}

button {
    margin-right: 0.5rem;
}